<section class="inner-block">
  <app-header></app-header>
  <section class="banner">
    <div class="hero-banner-inner wow fadeIn" data-wow-duration="1.2s">
      <h1>PORTFOLIO</h1>
      <h2>Let us make something great together.</h2>
    </div>
  </section>
  <article class="inner-content">
    <div class="portfolio">
      <div class="portfolio__header">
        <h2>Explore Sucess Stories</h2>
        <p>We have worked on a broad spectrum of technologies and projects, with a wide range of clients, each with a
          different
          problem set and requiring us to use a different perspective. We follow the Kaizen model, of continuous
          improvement of
          our processes and consistently do our best to develop strong partnerships with our clients</p>
      </div>

      <div class="portfolio__content">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-spoCast.png" alt="image" />
                </figure>
              </a>
              <div class="portfolio-box__content">
                <h6>SpoCast</h6>
                <p>A live video streaming app for sports, where users can discuss and predict about the clubs they are
                  interested in.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <div class="portfolio-box__content">
                <h6>Octobuz</h6>
                <p>A social media content analysis platform which empowers the users to make insightful business
                  decisions and predictions
                </p>
              </div>
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-octobuz.png" alt="image" />
                </figure>

              </a>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-vision.png" alt="image" />
                </figure>

              </a>
              <div class="portfolio-box__content">
                <h6>Vision</h6>
                <p>A product of Factweavers, Vision offers a complete solution for Elasticsearch cluster monitoring,
                  maintenance and
                  alerting
                </p>
              </div>


            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <div class="portfolio-box__content">
                <h6>Flywithme</h6>
                <p>A trip & tour planning portal, which enables the users to find other users & interesting
                  destinations for holiday
                  travels
                </p>
              </div>
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-flywithme.png" alt="image" />
                </figure>
              </a>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-scrapy.png" alt="image" />
                </figure>

              </a>
              <div class="portfolio-box__content">
                <h6>Scrapy</h6>
                <p>An indigenously developed customisable web scraping solution, allowing crawling & data scraping from
                  different
                  websites.
                </p>
              </div>


            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <div class="portfolio-box__content">
                <h6>BigDguru</h6>
                <p>Platform to get informed about the latest happenings and articles in the world of rapidly growing
                  big data technologies
                </p>
              </div>
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-bigdguru.png" alt="image" />
                </figure>

              </a>



            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-dronofly.png" alt="image" />
                </figure>

              </a>
              <div class="portfolio-box__content">
                <h6>Dronofly</h6>
                <p>Dronofly, dubbed as the Amazon of Drones, encompasses every bit of information regarding drones
                  available in the
                  internet.
                </p>
              </div>


            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <div class="portfolio-box__content">
                <h6>Heritage of healing</h6>
                <p>A platform to connect the practioners and enable them to educate users about alternative and
                  holiistic healing
                  therapies
                </p>
              </div>
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-heritage.png" alt="image" />
                </figure>

              </a>


            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-factrack.png" alt="image" />
                </figure>
              </a>
              <div class="portfolio-box__content">
                <h6>Factrack</h6>
                <p>An Android app from Factweavers, completely serverless and which lets you keep a track on your dear
                  and near ones.
                </p>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="1.2s">
            <div class="portfolio-box">
              <div class="portfolio-box__content">
                <h6>Social media for Sports</h6>
                <p>Insports is an online platform for the sports fraternity enthusiasts to network both personally and
                  professionally.
                </p>
              </div>
              <a class="portfolio-box__image">
                <figure>
                  <img src="/assets/img/portfolio-insports.png" alt="image" />
                </figure>

              </a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>