<section class="inner-block">
  <app-header></app-header>
  <section class="banner">
    <div class="hero-banner-inner wow fadeIn" data-wow-duration="1.6s">
      <h1>Career</h1>
      <h2>Join us and let us create awesome things!</h2>
    </div>
  </section>
  <article class="inner-content">
    <div class="container">
      <div class="career">
        <div class="career-header">
          <p>We believe in empowering each one of our team with the right direction and guidance. We focus on building
          cross-functional teams for greater corporation, trust and thus equipped for doing the right things with short time and
          making huge advancements.
          </p>
          <p>Factweavers is right place to launch your career and develop your expertise for sailing in this new world of data and
          technology. You’ll have a chance to update yourself and be at par in terms of creativity and individuality as you work
          with extraordinary, insightful personalities with us.</p>
        </div>

        <div class="career-content">
          <div class="career-list">
            <ul>
              <li>
                <div class="list-left">
                  <h2>Senior Software Engineer – (Front End) </h2>
                  <h3>Experience : 2 to 5 years</h3>
                  <p class="career-des">Humble knowledge in Javascript, Node.js, Angular JS, JQuery,
                    HTML5, CSS3, Bootstrap Intimate knowledge in operating system (Linux, Windows ) and
                    System programming experience. Proven programming language fundamentals with proven
                    debugging skills and analytical capabilities. Considerable understanding about
                    multi-core, asynchronous programming, data storage, data structures, data transport
                    and data persistence models. Natural understanding of problem determination of
                    application misbehaviors, proven networking concepts.</p>
                  <p class="career-qul"> <span>B-tech/MCA/</span></p>
                </div>
                <div class="list-btn">
                  <a href="mailto:Apply">Apply</a>
                </div>
              </li>
              <li>
                <div class="list-left">
                  <h2>Senior Software Engineer – (Back End)</h2>
                  <h3>Experience : 2 to 5 years</h3>
                  <p class="career-des">Excellent knowledge in Java/Python
                    <br> Excellent knowledge in operating system (Linux, Windows) and System
                    programming experience. Hands on experience in design patterns.</p>
                  <p class="career-des">Proven programming language fundamentals with proven debugging
                    skills and analytical capabilities. Considerable understanding about
                    multi-threading, multi-core, asynchronous programming, data storage, data
                    structures, data transport and data persistence models. Natural understanding of
                    problem determination of application misbehaviors, proven networking concepts.</p>
                  <p class="career-qul"><span>B-tech/MCA/</span></p>
                </div>
                <div class="list-btn">
                  <a href="mailto:Apply">Apply</a>
                </div>

              </li>
              <li>
                <div class="list-left">
                  <h2>Software Architect </h2>
                  <h3>Experience : 10+ years</h3>
                  <p class="career-des">Proven record of the “big picture” development. Excellent
                    knowledge in MVC, MVVM, MVW, Flux architecture. Descent experience in creates and
                    delivers blueprints in the form of UML (Unified Modeling Language) diagrams. Humble
                    knowledge in JavaScript, Node.js, JVM, V8
                  </p>
                  <p class="career-des">Intimate knowledge in operating system (Linux, Windows) and
                    System programming experience. Should be good team player.
                  </p>
                  <p class="career-qul"><span>B-tech/MCA/</span></p>
                </div>
                <div class="list-btn"> <a href="mailto:Apply">Apply</a>
                </div>
              </li>
              <li>
                <div class="list-left">
                  <h2>Junior Software Engineer</h2>
                  <h3>Experience : 1+ years</h3>
                  <p class="career-des">Good Java\Python development skills. Good knowledge in MVC
                    architecture. Experience in Java web presentation tier software development
                    (Servlet, HTML, CSS) \ any python based web frameworks
                  </p>
                  <p class="career-des">Experience with Linux and UNIX platform
                    <br> Should be a good team player
                  </p>
                  <p class="career-qul"><span>B-tech/MCA/</span></p>
                </div>
                <div class="list-btn">
                  <a href="mailto:Apply">Apply</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </article>