<footer class="footer  wow fadeIn " data-wow-duration="1.8s">
  <div class="container-fluid">
    <div class="footer-logo">
      <div class="logo-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
          y="0px" viewBox="0 0 2267.7 2267.7" style="enable-background:new 0 0 2267.7 2267.7;" xml:space="preserve">
          <g>
            <path class="icon-path" d="M2023.3,1747.2l-521.8-414.5c13.7-35.1,24.6-71.5,32.4-108.8l-119.3,13.7c-59.9,214.9-244.8,382.9-480.1,409.8
                    		c-309.9,35.5-589.9-187.1-625.4-497c-35.5-309.9,187.1-589.9,497-625.4c88.7-10.1,174.9,0.9,253.7,29l199.6-22.8
                    		c-131-91.9-294.8-138-466.2-118.4c-371.9,42.6-638.9,378.6-596.4,750.5c42.6,371.9,378.6,638.9,750.5,596.4
                    		c114-13,217.9-53.9,306.2-114.6l521.6,414.5l-0.1,0.1c40.2,32.5,92.7,49.6,147.9,43.3c109.4-12.5,187.9-111.3,175.4-220.7
                    		c-6.3-55.4-34.8-102.6-75.6-134.4L2023.3,1747.2z M1911.7,2003.6c-28,3.2-54.3-5.7-74.5-22.3L1333,1580.5
                    		c48.7-45.8,90.5-98.3,123.9-156.2l504.4,400.9l-0.4,0.5c20.7,16,35.4,39.6,38.6,67.6C2005.7,1948,1966.4,1997.3,1911.7,2003.6z
                    		 M901.7,626.9c-289.6,10.7-515.5,254-504.9,543.5c0.8,20.7,18.2,36.8,38.8,36.1c20.7-0.8,36.8-18.1,36.1-38.8
                    		c-9.1-248.1,184.5-456.7,432.7-465.9c20.6-0.8,36.8-18.1,36.1-38.8C939.7,642.3,922.3,626.1,901.7,626.9z" />
            <g>
              <rect id="XMLID_1_" x="822.3" y="822.7" class="icon-shape" width="450" height="450" />
              <rect id="XMLID_2_" x="1426.5" y="860.4" class="icon-shape" width="305.8" height="305.8" />
              <rect id="XMLID_3_" x="1272.4" y="428.4" class="icon-shape" width="307.1" height="307.1" />
              <rect id="XMLID_4_" x="1000.5" y="159.9" class="icon-shape" width="211" height="211" />
              <rect id="XMLID_5_" x="1741.4" y="428.4" class="icon-shape" width="139.6" height="139.6" />
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="footer-project">
      <a [routerLink]="['/contact']">Let's discuss</a>
    </div>
    <div class="footer-link">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="footer-link__block">
            <h3>Contact</h3>
            <p>1st Floor, Ravis Arcade
              M.G Road, Ernakulam
              Kerala. 682035</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="footer-link__block">
            <h3>Depth</h3>
            <ul>
              <li><a class="fact-link" (click)="routeTo('career')">Career</a></li>
              <li><a class="fact-link" (click)="routeTo('contact')">Contact</a></li>
              <li><a class="fact-link" (click)="routeTo('expertise')">Expertise</a></li>
              <li><a class="fact-link" (click)="routeTo('portfolio')">Portfolio</a></li>
              <li><a class="fact-link" (click)="routeTo('approach')">Approach</a></li>
              <li><a class="fact-link" (click)="routeTo('leadership')">Leadership</a></li>
              <li><a class="fact-link" href="/blog">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="footer-link__block">
            <h3>Social</h3>
            <ul>
              <li><a href="https://www.facebook.com/factweavers/" target="_blank">Facebook</a></li>
              <li><a href="/">Twitter</a></li>
              <li><a href="https://www.instagram.com/factweaverstechnologies/?hl=en" target="_blank">Instagram</a></li>
              <li><a href="/">Linkdin</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="footer-link__block">
            <h3>Let's discuss</h3>
            <p>Every project starts with an idea let us help bring yours life</p>
            <a class="project-link" href="/">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <ul>
      <li><small>&copy; Copyright @ 2015 Factweavers</small></li>
      <li><a href="privacy-policy.html"><small>Privacy policy</small></a></li>
      <li><a href="terms-conditions.html"><small>Terms &amp; Conditions</small></a></li>
    </ul>
  </div>
</footer>