/*---------Color-----------*/

$white-color: #ffffff;
$black-color: #000000;
$text-color:#44484d;
$theam-dark: #2c2b3B;
$theam-red:#CC0000;
$theam-green:#008000;
$theam-gray:#5c5c5c;
$gray-dark:#a9a9a9;
$gray-color:#f1f5f5;
$gradient-bg:( $gray-color 50%, $gray-color 100%);