@import "~src/sass/main";
.header {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: transparent;
    @extend .flex-column;
    @include transition (all 0.6s ease-in-out);
    .navbar {
        margin: 0;
        padding: 0;
        height: 70px;
        overflow: hidden;
        @extend .flexbox;
        @extend .justify-end;
        @extend .item-center;
        .navbar-brand {
            flex: 0 auto;
            max-width: 250px;
            margin-right: auto;
            padding: 0;
            @extend .flexbox;
            @include transition (all 0.8s ease-in-out);
            cursor: pointer;
            .logo-image {
                display: block;
                .factweavers-logo {
                    width: 100%;
                    @include transition (all 0.8s ease-in-out);
                    .icon-path {
                        fill: $theam-dark;
                    }
                    .icon-shape {
                        fill: $theam-red;
                    }
                    .logo-text {
                        font-family: 'factweavers';
                        font-size: 1028px;
                        fill: $white-color;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        &.text-dark {
                            fill: $theam-dark;
                        }
                        &.text-red {
                            fill: $theam-red;
                        }
                    }
                    .logo-tagline {
                        font-family: 'tagline';
                        letter-spacing: 24px;
                        font-size: 600px;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
            .logo-loader {
                flex: 0 auto;
                margin-right: auto;
                display: none;
                max-width: 250px;
                min-width: 250px;
                margin-right: auto;
                text-align: center;
            }
        }
        .navbar-toggler {
            flex: 0 auto;
            width: 35px;
            height: 30px;
            position: relative;
            z-index: 99;
            cursor: pointer;
            background-color: transparent;
            border: 0;
            outline: 0;
            @include transition (all 0.8s ease-in-out);
            span {
                position: absolute;
                height: 2px;
                background-color: $theam-dark;
                left: 0;
                @include transition (all 0.8s ease-in-out);
                &:nth-child(1) {
                    top: 5px;
                    width: 25px;
                }
                &:nth-child(2) {
                    top: 50%;
                    width: 34px;
                    @include transform(translate(0, -50%));
                }
                &:nth-child(3) {
                    bottom: 5px;
                    width: 28px;
                }
            }
        }
        .navbar-collapse {
            flex: 0 auto;
            @include respond-to(mobile) {
                position: absolute;
                left: 0;
                right: 0;
                top: 65px;
                background-color: $gray-color;
            }
            @include respond-to(tablet) {
                position: absolute;
                left: 0;
                right: 0;
                top: 65px;
                ;
                background-color: $gray-color;
            }
            .navbar-nav {
                margin: 0;
                @include respond-to(mobile) {
                    @include flex-direction(row);
                    @include flex-wrap(wrap);
                }
                @include respond-to(tablet) {
                    @include flex-direction(row);
                    @include flex-wrap(wrap);
                }
                .nav-item {
                    flex: 0 auto;
                    margin-right: 30px;
                    @include respond-to(mobile) {
                        margin-right: 0;
                        flex: 1 50%;
                        width: 50%;
                        border: solid #eaefef 1px;
                    }
                    @include respond-to(tablet) {
                        margin-right: 0;
                        flex: 1 50%;
                        width: 50%;
                        border: solid #eaefef 1px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                    .nav-link {
                        display: block;
                        cursor: pointer;
                        text-transform: uppercase;
                        color: $theam-red;
                        position: relative;
                        padding: 4px 0;
                        font-weight: 400;
                        @include transition (all 0.4s ease-in-out);
                        @include respond-to(mobile) {
                            text-align: center;
                            padding: 8px 0;
                            color: $theam-red !important;
                        }
                        @include respond-to(tablet) {
                            text-align: center;
                            padding: 8px 0;
                            color: $theam-red !important;
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            height: 2px;
                            position: absolute;
                            width: 0;
                            bottom: 0;
                            left: 50%;
                            background-color: $theam-red;
                            @include transition (all 0.4s ease-in-out);
                            @include transform(translate(-50%, 0));
                        }
                        &:hover {
                            margin: 0;
                            &:before {
                                width: 100%;
                                @include transition (all 0.4s ease-in-out);
                            }
                        }
                    }
                    &.active {
                        flex: 0 auto;
                        .nav-link {
                            margin: 0;
                            &:before {
                                width: 100%;
                                @include transition (all 0.4s ease-in-out);
                            }
                        }
                    }
                }
            }
        }
    }
    &.fixed-top {
        position: fixed !important;
        @include background-opacity($white-color, 0.95);
        @include transition (all 0.6s ease-in-out);
        @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.04));
        .navbar-brand {
            padding: 0;
            .factweavers-logo {
                width: 100%;
                @include transition (all 0.4s ease-in-out);
                .icon-path {
                    fill: $theam-dark !important;
                }
                .icon-shape {
                    fill: $theam-red !important;
                }
                .logo-text {
                    margin: 0;
                    &.text-dark {
                        fill: $theam-dark !important;
                    }
                    &.text-red {
                        fill: $theam-red !important;
                    }
                }
                .logo-tagline {
                    fill: #494949 !important;
                }
            }
        }
        .nav-link {
            color: $theam-red !important;
            &:before {
                background-color: $theam-red !important;
            }
        }
    }
}