<section class="inner-block">
  <app-header></app-header>
  <section class="banner">
    <div class="hero-banner-inner wow fadeIn" data-wow-duration="1.6s">
      <h1>Our Approach</h1>
      <h2>helping our clients design, develop, implement and sustain software solutions</h2>
    </div>
  </section>
  <article class="inner-content">
    <div class="container-fluid">
      <div class="approach">
        <div class="row">
          <div class="approach-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Inclusive Approach</h2>
            <p>We empower our clients to strengthen business throughput and results by enabling them to responding
              quickly to market
              changes with consolidated and integrated technical solutions in the best platforms available across the
              niche domains.
              Our approaches for solutions always consider the inclusiveness, modularity and scalability as the primary
              pillars.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
              <figure class="approach-image">
                <span>
                  <img src="/assets/img/approach-aws.jpg" alt="image" />
                </span>
                <h3>AWS</h3>
              </figure>
              <div class="approach-text">
                <h3>AWS</h3>
                <p>Amazon Web Services, the unparalleled leader in today's cloud platforms, provides a vast range
                  hosted and
                  fully managed
                  services. We have AWS architects & expertise who are well versed in AWS services capable of providing
                  stable &
                  scalable
                  solutions.</p>
                <ul class="approach-text__list">
                  <li>End to end architecturing</li>
                  <li>Smplify the implementation</li>
                  <li>Emphasis on scalable architecturing</li>
                  <li>Specialised big data handling</li>
                  <li>Expert cloud data pipelining solutions</li>
                  <li>Third party API implementations</li>
                  <li>Design for high availability</li>
                  <li>Special focus for security</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
              <figure class="approach-image">
                <span>
                  <img src="/assets/img/approach-collect.jpg" alt="image" />
                </span>
                <h3>COLLECT</h3>
              </figure>
              <div class="approach-text">
                <h3>COLLECT</h3>
                <p>Data collection, ingress, and enriching services we offer ranges from the prowess in industry
                  recognised ETL tools to
                  heavily customisable scrapping and in-house developed ingestion and enriching modules, which sets any
                  data to be
                  collected</p>
                <ul class="approach-text__list">
                  <li>Growing data size</li>
                  <li>Feasibility of Data</li>
                  <li>Structured and unstructured data</li>
                  <li>Significance of data</li>
                  <li>Interfacing logstash with the data sources</li>
                  <li>Digging data</li>
                  <li>Collecting public sentiment</li>
                  <li>Data structuring</li>
                  <li>Highly customizable software tool</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
              <figure class="approach-image">
                <span>
                  <img src="/assets/img/approach-analyze.jpg" alt="image" />
                </span>
                <h3>ANALYZE</h3>
              </figure>
              <div class="approach-text">
                <h3>ANALYZE</h3>
                <p>Analytics is the pivotal for any one who is dealing with data. We use a broad range of analytic
                  tools, clubbed with the
                  advanced architectures like Lambda, which provides fast and insightful analytics on both static data
                  and also the real
                  time data.</p>
                <ul class="approach-text__list">
                  <li>Elasticsearch Consulting</li>
                  <li> Connecting DATA</li>
                  <li> Tabulation</li>
                  <li> Analyze as per the connectivity</li>
                  <li> Regression and correlation analysis</li>
                  <li> Modern techniques and tools</li>
                  <li> Concluding the data connectivity</li>
                  <li> General and unseen conclusion</li>
                  <li> Simple data correlations</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
              <figure class="approach-image">
                <span>
                  <img src="/assets/img/approach-visualize.jpg" alt="image" />
                </span>
                <h3>VISUALIZE</h3>
              </figure>
              <div class="approach-text">
                <h3>VISUALIZE</h3>
                <p>Our expertise in the visualisation of both raw and analysed data, in easily interpretable forms,
                  provides
                  decision
                  makers to take quick decisions, add insightful business values to your organisation, and early
                  detection of
                  anomalies
                  so as to take proactive measures</p>
                <ul class="approach-text__list">
                  <li>Enabling the users on using Kibana</li>
                  <li> Geographical representation</li>
                  <li> Simplify the vision</li>
                  <li> Consider the ocean of data</li>
                  <li> Accurate predictions</li>
                  <li> Unseen part of the Business</li>
                  <li> Highly customizable and simple representation</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="approach-project">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <!-- <ul class="approach-foot-list" id="counter">
              <li>
                <span class="counter-value" data-count="200">0</span>
                <span>Projects</span>
              </li>
              <li>
                <span class="counter-value" data-count="150">0</span>
                <span>Clients</span>
              </li>
            </ul> -->
          </div>
          <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
            <div class="approach-foot-video">
              <div class="text-block">
                <a class="play-btn" data-toggle="modal" data-target="#exampleModalCenter"> </a>
                <h3>Take a Tour</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</section>
<!-- Modal -->
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bd-example-modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/wdZwE7mb8OI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div> -->