<section class="testimonial">
  <div class="container-fluid">
    <div class="home-heading">
      <h3>What our clients have to say about us</h3>
    </div>
    <div class="testimonial-block">
      <div class="testimonial-block__item  wow slideInUp" data-wow-duration="1.8s">
        <div class="testimonial-body">
          <div class="testimonial-body__content">
            <p>Factweavers has been a critical partner in our company's success. They have been professional,
              dedicated, and
              highly
              attentive to our evolving needs and bring great ideas to the table and execute them in a timely manner.</p>
          </div>
          <div class="testimonial-body__profile">
            <div class="image-block">
              <span>
                <img src="/assets/img/henryjcoleman.jpg" alt="image" />
              </span>
            </div>
            <h4>Crawling & Analytics Platform</h4>
            <h3>General Manager</h3>
            <h4>Data analytics</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-block__item  wow slideInUp" data-wow-duration="1.3s">
        <div class="testimonial-body">
          <div class="testimonial-body__content">
            <p>Factweavers project management and communications plan, was instrumental as the team was always
              available like
              an
              internal team, with anytime availability for consultation, development, planning and support!</p>
          </div>
          <div class="testimonial-body__profile">
            <div class="image-block">
              <span>
                <img src="/assets/img/piergiorgio.jpg" alt="image" />
              </span>
            </div>
            <h4>Travel App</h4>
            <h3>Chief Executive Officer</h3>
            <h4>Flywith Me</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-block__item  wow slideInUp" data-wow-duration="1.8s">
        <div class="testimonial-body">
          <div class="testimonial-body__content">
            <p>Having worked on numerous special projects together, we have learned to rely on them heavily to bring
              new ideas and
              approaches to helping solve tough challenges in the area of machine learning and big data analysis
            </p>
          </div>
          <div class="testimonial-body__profile">
            <div class="image-block">
              <span>
                <img src="/assets/img/mithul.jpg" alt="image" />
              </span>
            </div>
            <h4>Web Scraping App</h4>
            <h3>Chief Executive Officer</h3>
            <h4>Web scraping solutions</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-block__item  wow slideInUp" data-wow-duration="1.2s">
        <div class="testimonial-body">
          <div class="testimonial-body__content">
            <p>The technical prowess and agility displayed by the team, and the project coordination efforts by the
              management for
              solving the unique challenges in the requirements involved in this project deserve a special mention.</p>
          </div>
          <div class="testimonial-body__profile">
            <div class="image-block">
              <span>
                <img src="/assets/img/joby-babu.jpg" alt="image" />
              </span>
            </div>
            <h4>Sociam Media Analytics App</h4>
            <h3>Chief Executive Officer</h3>
            <h4>Octobuz</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-block__item  wow slideInUp" data-wow-duration="1.8s">
        <div class="testimonial-body">
          <div class="testimonial-body__content">
            <p>Dedicated & responsible, the team has never missed a deadline for any of our releases. Their inputs at
              ideation
              , while designing or later during the development phase, have always been useful and innovative.</p>
          </div>
          <div class="testimonial-body__profile">
            <div class="image-block">
              <span>
                <img src="/assets/img/pradeep-rao.jpg" alt="image" />
              </span>
            </div>
            <h4>Social Media Website</h4>
            <h3>Chief Executive Officer</h3>
            <h4>Social media analytics</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-block__item  wow slideInUp" data-wow-duration="1.6s">
        <div class="testimonial-body">
          <div class="testimonial-body__content">
            <p>The patience, analytical and problem solving skills exhibited by the Factweavers team, have helped me
              produce a product
              of great quality and reliability. Way to go, you have proven that I can rely on you at any time.</p>
          </div>
          <div class="testimonial-body__profile">
            <div class="image-block">
              <span>
                <img src="/assets/img/lawrence.jpg" alt="image" />
              </span>
            </div>
            <h4>Sports Streaming App</h4>
            <h3>Vice-President</h3>
            <h4>Sports Solutions</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-block__item  wow slideInUp" data-wow-duration="1.8s">
        <div class="testimonial-body">
          <div class="testimonial-body__content">
            <p>The team has a real understanding of our issues & comes to the table with suggestions & ideas that are
              very impressive
              and have proactively solved issues and handled releases without any downtime.
            </p>
          </div>
          <div class="testimonial-body__profile">
            <div class="image-block">
              <span>
                <img src="/assets/img/person-avatar.jpg" alt="image" />
              </span>
            </div>
            <h4>Router analytics Platform</h4>
            <h3>Vice-President</h3>
            <h4>Data analytics</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-block__item  wow slideInUp" data-wow-duration="1.8s">
        <div class="testimonial-body">
          <div class="testimonial-body__content">
            <p>The professionalism demonstrated by the entire team is par excellence. Each organisation has specific
              business
              requirements, and they worked with us to provide the best solution for our specific
              needs.</p>
          </div>
          <div class="testimonial-body__profile">
            <div class="image-block">
              <span>
                <img src="/assets/img/person-avatar.jpg" alt="image" />
              </span>
            </div>
            <h4>Healthcare platform</h4>
            <h3>Project Co-ordinator</h3>
            <h4>Healthcare</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>