<section class="whatwe-do">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 left-color wow fadeIn" data-wow-duration="1.8s">
      <div class="whatwe-do__left">
        <div class="home-heading">
          <h3>What we do</h3>
        </div>
        <div class="home-content">
          <p>We focus on delivering stable, scalable and innovative digital solutions using legacy and cutting edge
            technologies
            alike. Our solutions range from expert AWS architecting to NLP enabled search analytics, cater to myriad
            industry
            verticals ranging from e-commerce to healthcare. Our technical experts, empowers you to transform your
            existing system
            to the most advanced technical platform in you industry in the shortest span of time with high quality
            levels and
            seamless access through all channels (web,mobile)</p>

        </div>
        <div class="home-btn">
          <a [routerLink]="['/expertise']">View Details</a>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 right-color wow fadeIn">
      <div class="whatwe-do__right">
        <div class="what-do__block wow fadeInDown">
          <div class="what-do__block--header">
            <span>
              <img src="/assets/img/what-do-aws.png" alt="image" />
            </span>
            <h3>AWS serverless stack based solutions</h3>
          </div>
          <div class="what-do__block--content">
            <p>We have certified architects in AWS cloud consulting and have developed, migrated and deployed numerous
              pivotal
              business applications. We provide consulting in end to end cloud managed services on AWS platform in the
              shortest time.</p>
          </div>
        </div>
        <div class="what-do__block wow fadeInDown">
          <div class="what-do__block--header">
            <span>
              <img src="/assets/img/what-do-elasticsearch.png" alt="image" />
            </span>
            <h3>Elasticsearch based solution and support</h3>
          </div>
          <div class="what-do__block--content">
            <p>Our comprehensive Elasticsearch services covers collaborative review on the data of interest and the
              existing
              implemented technical approaches with recommendations of best practices, which would allow you to
              accelerate your
              product delivery.</p>
          </div>
        </div>
        <div class="what-do__block wow fadeInDown">
          <div class="what-do__block--header">
            <span>
              <img src="/assets/img/what-do-bigdata.png" alt="image" />
            </span>
            <h3>Big Data and Data science</h3>
          </div>
          <div class="what-do__block--content">
            <p>Our data scientists are focused in using the best suited data architectures and latest technologies to
              solve the
              diverse big data data requirements. Our passion with our expertise, has helped our clients to stay
              competitive in their
              fields.</p>
          </div>
        </div>
        <div class="what-do__block wow fadeInDown">
          <div class="what-do__block--header">
            <span>
              <img src="/assets/img/what-do-mobailapp.png" alt="image" />
            </span>
            <h3>Mobile APP development</h3>
          </div>
          <div class="what-do__block--content">
            <p>We develop native, hybrid and cross-platform mobile apps for multiple platforms and operating systems
              like android,
              iPhone, with special emphasis on high ease of use, security and best practices for the respective
              platforms.
            </p>
          </div>
        </div>
        <div class="what-do__block wow fadeInDown">
          <div class="what-do__block--header">
            <span>
              <img src="/assets/img/what-do-endtoend.png" alt="image" />
            </span>
            <h3>End to End product development</h3>
          </div>
          <div class="what-do__block--content">
            <p>Building solutions from the scratch requires both pro-active and reactive approaches in all the three
              stages of
              designing, development and deploying. We follow agile approach for delivering cost effective and value
              rich end-to-end
              products.</p>
          </div>
        </div>
        <div class="what-do__block wow fadeInDown">
          <div class="what-do__block--header">
            <span>
              <img src="/assets/img/what-do-webdevelopment.png" alt="image" />
            </span>
            <h3>Web and API development</h3>
          </div>
          <div class="what-do__block--content">
            <p>From design to development, we build highly interactive and useful web based API and applications with
              special user and
              usability focus across a multitude of verticals like Travel, Health technology, Social media etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>