<section class="banner  wow fadeIn" data-wow-duration="1.8s">
  <div class="banner__story">
  </div>
  <div class="banner__block wow fadeIn">
    <div class="hero-slider">
      <div class="hero-slider__text wow zoomIn" data-wow-duration="0.5s">
        <div class="hero-tagline">
          <h1>Power your digital dreams</h1>
          <h3>with superior solutions</h3>
          <div class="banner-btn">
            <a class="fact-link" [routerLink]="['/contact']">Send Enquiry</a>
            <a class="fact-link" [routerLink]="['/expertise']">view expertise</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>