<section class="credibility">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="0.5s">
      <div class="credibility-item start-year">
        <figure class="credibility-item__icon">
          <span>
            <img src="/assets/img/icon-year.png" alt="image" />
          </span>
        </figure>
        <div class="credibility-item__image"></div>
        <div class="credibility-item__content">
          <span class="counter-value">04 years Since Inception</span>
          <span class="counter-text">Completed 04 successful years with numerous insightful and compelling solutions.</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="0.5s">
      <div class="credibility-item employees">
        <figure class="credibility-item__icon">
          <span>
            <img src="/assets/img/icon-employee.png" alt="image" />
          </span>
        </figure>
        <div class="credibility-item__image"></div>
        <div class="credibility-item__content">
          <span class="counter-value">50+ Employees</span>
          <span class="counter-text">From a team of 2 to a team of 50 plus highly talented and motivated people in a short span of 4 years.</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow slideInUp" data-wow-duration="0.5s">
      <div class="credibility-item projects">
        <figure class="credibility-item__icon">
          <span>
            <img src="/assets/img/icon-projects.png" alt="image" />
          </span>
        </figure>
        <div class="credibility-item__image"></div>
        <div class="credibility-item__content">
          <span class="counter-value">65+ Projects Executed</span>
          <span class="counter-text">More than 65+ projects delivered with stringent quality standards and end to end implementations.</span>
        </div>
      </div>
    </div>
  </div>
</section>