<section class="inner-block">
  <app-header></app-header>
  <section class="banner">
    <div class="hero-banner-inner  wow fadeIn" data-wow-duration="1.6s">
      <h1>Areas of Expertise</h1>
      <h2>Powerful platforms to save all digital needs</h2>
    </div>
  </section>
  <article class="inner-content">
    <div class="expertise">
      <div class="expertise__header">
        <h2>Big Data and Beyond</h2>
        <p>Big Data landscape is rapidly evolving, resulting in expansion of scope from Big Data technologies as a
          point of data
          warehousing and business intelligence to a wider context of massively parallel processing and advanced
          analytics.
          Consequently, companies today are looking for added value that Big Data can provide to customer experience.
          In this
          race for maximizing the value of data, companies inevitably face new challenges – difficulty to consume the
          data,
          retract hidden insights, and manage the system and infrastructure</p>
      </div>
      <div class="expertise__content">
        <div class="row wow fadeIn" data-wow-duration="1.8s">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="content-pane">
              <h3>Vast expertise in AWS and services</h3>
              <p>With the stupendous rise of the cloud computing and AWS emerging as the market leaders with its all
                inclusive
                solutions, the industry is steeping itself more in to the AWS way of doing things. We being one of the
                early
                adopters
                of AWS are proficient in both architecting and best practices implementation for solutions.</p>
              <div class="expertise-list">
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/aws-elasticsearch.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/aws-kinesis.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/aws-cognito.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/aws-cloudtrail.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/aws-X-Ray.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/aws-data-pipeline.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/aws-aurora.png" alt="image" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aws-image">
            <div class="inner-pane">
              <span class="icon">
                <img src="/assets/img/exp-04.png" alt="image" />
              </span>
              <h2>
                AWS
              </h2>

            </div>
          </div>
        </div>
        <div class="row wow fadeIn" data-wow-duration="1.8s">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 analytics-image">
            <div class="inner-pane">

              <span class="icon">
                <img src="/assets/img/exp-02.png" alt="image" />
              </span>
              <h2>
                Analytics
              </h2>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="content-pane">
              <h3>Reliable analytics and insights</h3>
              <p>Our expertise in the analytics of raw or processed data spreads in to different horizons, like
                unprocessed raw data
                analytics, processed data analytics also whether the data is streaming or static. In each of these
                areas, we have teams
                which are well versed, proficient and solution providers which makes us much more capable than any
                competitors.</p>
              <div class="expertise-list">
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/elasticsearch.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/hadoop.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/amozon-emr.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/apache-spark.png" alt="image" />
                  </span>

                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/amazone-redshift.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/apache-hbase.png" alt="image" />
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row wow fadeIn" data-wow-duration="1.6s">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="content-pane">
              <h3>Proven prowess in data preparation</h3>
              <p>We have prowess in dealing and utilising the best tools for data preparation available in almost all
                of the platforms.
                This include the extensive array of tools in the open source world, the most commonly used solutions in
                the enterprise
                world and also the ones that are available in the growing cloud platforms.</p>
              <div class="expertise-list">
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/kafka.png" alt="image" />
                  </span>

                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/logstash.png" alt="image" />
                  </span>

                </div>

                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/flume.png" alt="image" />
                  </span>

                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/apache-stome.png" alt="image" />
                  </span>

                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/amazon-kinesis.png" alt="image" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 data-preparation-image">
            <div class="inner-pane">
              <span class="icon">
                <img src="/assets/img/exp-01.png" alt="image" />
              </span>
              <h2>
                Data preparation
              </h2>

            </div>
          </div>
        </div>
        <div class="row wow fadeIn" data-wow-duration="2.0s">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 solutions-image">
            <div class="inner-pane">
              <span class="icon">
                <img src="/assets/img/exp-03.png" alt="image" />
              </span>
              <h2>
                Solutions
              </h2>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="content-pane">
              <h3>End to End product development</h3>
              <p>Right from the inception of an idea we take ownership of the product through the planning, design,
                development and
                delivery phases on our shoulders, responsibly and with great commitment. We employ the best technical
                solutions to the
                problem in hand with an eye in to the future scope and requirements of the product.</p>
              <div class="expertise-list">
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/java.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/python.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/node-js.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/go-lang.png" alt="image" />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row wow fadeIn" data-wow-duration="1.8s">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="content-pane">
              <h3>Complete Web Development Solutions</h3>
              <p>We have multiple dedicated teams specialised only to handle the different use cases of the data
                visualisations and
                customised API requirements. Our team have years of experience in the hottest offerings of the UI and
                API world like
                VueJs, Angular and ReactJs, building some of the most challenging visualisations with secure and stable
                APIs</p>
              <div class="expertise-list">
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/vue-js.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/angular-js.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/react-js.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/express-js.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/jquery.png" alt="image" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 web-development-image">
            <div class="inner-pane">
              <span class="icon">
                <img src="/assets/img/exp-05.png" alt="image" />
              </span>
              <h2>
                Web Development
              </h2>
            </div>
          </div>
        </div>
        <div class="row wow fadeIn" data-wow-duration="2.0s">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mobile-development-image">
            <div class="inner-pane">
              <span class="icon">
                <img src="/assets/img/exp-06.png" alt="image" />
              </span>
              <h2>
                Mobile Development
              </h2>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="content-pane">
              <h3>APP development</h3>
              <p>We develop native, hybrid and cross-platform mobile apps for multiple platforms and operating systems
                like android,
                iPhone, with special emphasis on high ease of use, security and best practices for the respective
                platforms.</p>
              <div class="expertise-list">
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/swift.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/excode.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/react-native.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/android.png" alt="image" />
                  </span>
                </div>
                <div class="expertise-list__item">
                  <span>
                    <img src="/assets/img/ios.png" alt="image" />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>