<section class="inner-block">
  <app-header></app-header>
  <section class="banner">
    <div class="hero-banner-inner wow fadeIn" data-wow-duration="1.6s">
      <h1>Meet The Leadership</h1>
      <h2>Leading from the front</h2>
    </div>
  </section>
  <article class="inner-content">
    <div class="container">
      <div class="leadership">
        <div class="leadership__header">
          <h2>
          Driven by vision and experience
          </h2>
          <p>We are guided by two visionary technological entrepreneurs, Vineeth Mohan and Jalaluddeen Mohammad, who have vast
          experience in the techno service arena, product development and beyond, and who have consistently empowered each and
          every one of the Factweavers team in many levels and continue to do so</p>
        </div>
        <div class="leadership__content">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="leader-image">
                <span>
                  <img src="/assets/img/vineeth.jpg" alt="image" />
                </span>
              </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
              <div class="leader-content">
                <h3>VINEETH MOHAN</h3>
                <span>CEO</span>
                <p>Mr. Vineeth Mohan is a passionate data scientist who found his love in big data analytics. An
                  Engineering graduate in
                  computer science and hardcore specialist in designing, coding and developing the solutions. He has
                  got a wide range of
                  experience as software developer from different organizations including Yahoo. He is a visionary
                  person with a magical
                  touch to enable the vision and mission to practice,</p>
                <div class="author">
                  <div class="author__left">
                    <span class="author-book">
                      <img src="/assets/img/vineth-book.jpg" alt="image" />
                    </span>
                  </div>
                  <div class="author__right">
                    <h4>author</h4>
                    <p>He is an author of most referred book in Elasticsearch called “ Elasticsearch Blue prints’, and
                      it is the first book
                      from an Indian to get the position of authorized reference for the new segment of data
                      management. He is a busy trainer
                      as well as a consultant for the ELK solutions in India</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="leadership__content">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="leader-image">
                <span>
                  <img src="/assets/img/jalal.jpg" alt="image" />
                </span>
              </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
              <div class="leader-content">
                <h3>JALALUDDEEN</h3>
                <span>CTO</span>
                <p>Mr.Jalaluddeen is ambitious and dynamic System Infrastructure / Search Developer with extensive
                  experience in
                  programing and management. A reliable team player with a thorough and precise approach to projects
                  which has yielded
                  excellent results to date. He is a polyglot programmer and a DevOps Engineer. He is an expert in data
                  mining and data
                  analyzing. He is well refined in multi-platform like UNIX, Linux and windows.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>